name: CI/CD Pipeline
on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for SonarQube

      # 1. SonarQube Quality Gate
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      # 2. Trivy File System Scan (Security)
      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          severity: 'CRITICAL,HIGH'

      # 3. Docker Build & Push
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/python-app:${{ github.sha }} ./app
          docker push ${{ secrets.DOCKER_USER }}/python-app:${{ github.sha }}

      # 4. GitOps: Update Manifest Image Tag
      - name: Update K8s Manifest
        run: |
          sed -i "s|image:.*|image: ${{ secrets.DOCKER_USER }}/python-app:${{ github.sha }}|" k8s/deployment.yaml
          git config --global user.name 'github-actions'
          git config --global user.email 'actions@github.com'
          git add k8s/deployment.yaml
          git commit -m "Update image to version ${{ github.sha }} [skip ci]"
          git push

